{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}

    {% for course in course_list %}
        <a href="{% url 'course_detail' course.pk %}" class="nav-link">{{ course.name }}</a> : {{ course.price }} <br>
        <a href="{% url 'course_update' course.pk %}" class="nav-link">Обновить блюдо</a>
        <a href="{% url 'course_delete' course.pk %}" class="nav-link">Удалить блюдо</a>
    {% endfor %}
{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}