{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block menu %}
    {% if perms.webapp.add_course %}
    <li class="nav-item">
        <a href="{% url 'webapp:course_create' %}" class="nav-link">Создать блюдо</a>
    </li>
    {% endif %}
{% endblock %}
{% block content %}
    {% for course in course_list %}
        <div class="card" style="width: 18rem;">
          <img src="{{ course.photo.url }}" class="card-img-top" alt="Картинка еды">
          <div class="card-body">
            <h5 class="card-title"><a href="{% url 'webapp:course_detail' course.pk %}" class="nav-link">{{ course.name }}</a></h5>
          </div>
          <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ course.price }}</li>
                {% if perms.webapp.change_course %}
                <li class="list-group-item"><a href="{% url 'webapp:course_update' course.pk %}" class="nav-link">Редактировать</a></li>
                {% endif %}
                {% if perms.webapp.delete_course %}
              <li class="list-group-item"><a href="{% url 'webapp:course_delete' course.pk %}" class="nav-link">Удалить</a></li>
                {% endif %}
          </ul>
        </div>
    {% endfor %}
{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}