{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block content %}
    {{ order.client_phone }}
    {{ order.client_name }}
    {{ order.client_address }}
    {{ order.client_phone }} <br>
    {% for order_course in order.courses.all %}
        {{ order_course.course.name }} : {{ order_course.quantity }} шт <br>
        <a href='{% url "change_courses" order.pk %}'>Изменить</a> <br>
    {% endfor %}
{% endblock %}

{# Откройте /order/<pk>, чтобы посмотреть список блюд для заказа на этой странице #}