{% extends 'base.html' %}
{% block title %}Заказ{% endblock %}
{% block menu %}
    <li class="nav-item">
        <a href="{% url 'order_create' %}" class="nav-link">Создать заказ</a>
    </li>
{% endblock %}
{% block content %}
    {% for order in order_list %}
        Имя: {{ order.client_name }} <br>
        Адресс: {{ order.client_address }} <br>
        Телефон: {{ order.client_phone }} <br>
        Статус: {{ order.get_status_display }}
        <a href="{% url 'order_detail' order.pk %}">Подробнее</a> <br>
        <a href="{% url 'order_update' order.pk %}"><i class="fas fa-edit"></i></a> <br>
        <a href="{% url 'add_course' order.pk %}"><i class="fas fa-plus-square"></i></a> <br>
        <a href="{% url 'order_status_update' order.pk %}">Обновить статус</a><br>
    {% endfor %}
{% endblock %}

